---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/base-ci.yaml@a9cf65c4269fd391a581cdd99bf8c4330901c988 # main
