---
name: CI

# yamllint disable-line rule:truthy
on:
  push:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
  workflow_dispatch:

permissions:
  contents: read
  packages: read

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/base-ci.yaml@19abc57e997a6e14cb4ba35968a442e1fadbfbc2 # main
