---
name: Deploy

# yamllint disable-line rule:truthy
on:
  release:
    types:
      - published
  workflow_run: # zizmor: ignore[dangerous-triggers]
    workflows: ["CI"]
    branches: [main]
    types:
      - completed

permissions:
  contents: read
  packages: write

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/base-deploy.yaml@a9cf65c4269fd391a581cdd99bf8c4330901c988 # main
