---
name: PR Labels

# yamllint disable-line rule:truthy
on:
  pull_request_target: # zizmor: ignore[dangerous-triggers]
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize

permissions:
  pull-requests: read

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/pr-labels.yaml@a9cf65c4269fd391a581cdd99bf8c4330901c988 # main
