---
name: Stale

# yamllint disable-line rule:truthy
on:
  schedule:
    - cron: "0 8 * * *"
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  workflows:
    uses: hassio-addons/workflows/.github/workflows/stale.yaml@a9cf65c4269fd391a581cdd99bf8c4330901c988 # main
